.App {
  text-align: left;
  margin: 20px 40px 50px;
}

.Navigation {
  padding: 0px 20px 17px;
  border-bottom: 2px solid rgba(60, 160, 226, 0.288);
}

.NavLink {
  margin-right: 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: rgb(60, 160, 226);
}

.NavLink:hover,
.NavLink:focus {
  color: rgb(5, 85, 138);
}

.ActiveNavLink {
  color: rgb(5, 85, 138);
}

.Loader {
  margin: 30px 50px 30px;
}
